ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;

}


/* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
        body{
        background-color: #A8A8A8;
        font-family: 'Poppins', sans-serif;
        }

        .alert{
        width: 641px;
        position: absolute;
        top: 30%;
        left:66rem;
        padding: 20px 174px;
        transform: translate(-50%, -50%);
        display: inline-flex; 
        
        }
        .container-login{
        /*border:1px solid white;*/
        width: 643px;
        height: 406px;
        position: absolute;
        top:50%;
        left:50%;
        padding: 30px 30px;
        transform: translate(-50%, -50%);
        display: inline-flex; 
        }
        .backbox-login{  
        background-color: #eeeeee;
        width: 100%;
        height: 80%;
        position: absolute;
        transform: translate(0,-50%);
        top:50%;
        display: inline-flex;
        }

        .frontbox-login{
        background-color: white;
        height: 100%;
        width: 50%;
        z-index: 10;
        position: absolute;
        right:0;
        margin-right: 0%;
        margin-left: 3%;
        transition: right .8s ease-in-out;
        }

        .moving{
        right:45%;
        }

        .loginMsg, .signupMsg{
        width: 50%;
        height: 100%;
        font-size: 15px;
        box-sizing: border-box;
        }

        .loginMsg .title,
        .signupMsg .title{
        font-weight: 300;
        font-size: 23px;
        }

        .loginMsg p,
        .signupMsg p {
        font-weight: 100;
        }

        .textcontent{
        color:white;
        margin-top:65px;
        margin-left: 12%;
        }

        .loginMsg button,
        .signupMsg button {
        background-color: #404040;
        border: 2px solid white;
        border-radius: 10px;
        color:white;
        font-size: 12px;
        box-sizing: content-box;
        font-weight: 300;
        padding:10px;
        margin-top: 20px;
        }

    

        /* front box content*/
        .login-login, .signup{
        padding: 20px;
        text-align: center;
        }

        .login-login h2,
        .signup h2 {
        color: #35B729;
        font-size:28px;
        margin-top: 34px;
        }

        .inputbox-login{
        margin-top:30px; 
        }
        .login-login input, 
        .signup input {
        display: block;
        width: 100%;
        height: 40px;
        border: none;
        margin-bottom:20px;
        font-size: 18px;
        outline: none;
        background: white;
        border-bottom: 1px solid;
        }








        .login-login button,
        .signup button{
        background-color: #35B729;
        border: none;
        color:white;
        font-size: 14px;
        font-weight: 300;
        box-sizing: content-box;
        padding:10px;
        border-radius: 10px;
        width: 60px;
        position: absolute;
        right:30px;
        bottom: 30px;
        cursor: pointer;
        left: 40%;
        bottom: 20%;
        }



        /*REGISTER BUTTON*/
        .reg button{
        background-color: #35B729;
        border: none;
        color:white;
        font-size: 14px;
        font-weight: 300;
        box-sizing: content-box;
        padding:10px;
        border-radius: 10px;
        width: 70px;
        position: absolute;
        right:30px;
        bottom: 30px;
        cursor: pointer;
        left: 39%;
        bottom: 10%;
        }


        /* Fade In & Out*/
        .login-login p {
        cursor: pointer;
        color:#404040;
        font-size:15px;
        }

        .loginMsg, .signupMsg{
        /*opacity: 1;*/
        transition: opacity .8s ease-in-out;
        }

        .visibility{
        opacity: 0;
        }

        .hide{
        display: none;
        }
        #clinic-logo{
        height: 200px;
        padding-left: 29px;
        margin-top: 20px;
        }

        .error-msg {
          text-align: center;
          padding-top: 5px;
          border-bottom: 1px solid red;
          color: red;
        }
/* LOGO END */